<div>asd</div>
<div>asd</div>
<div>asd</div>

<form method="post" action="/result">
  <input type="number" name="first" />+
  <input type="number" name="second" />
  <input type="submit" value="submit">
</form>